.react-datepicker-popper {
  @apply z-20;
}
.react-datepicker-wrapper {
  @apply w-full;
}
.custom-date-picker.react-datepicker {
  @apply border-2 border-secondary/20 rounded-md w-full;
  .react-datepicker__month-container {
    @apply w-full;
  }
  .react-datepicker__month {
    @apply m-0;
  }
  .react-datepicker__day-names,
  .react-datepicker__week {
    @apply flex justify-around;
  }
  div & {
    @apply font-[inherit];
  }
  .react-datepicker__current-month {
    @apply font-[inherit];
  }
  .react-datepicker__header {
    @apply bg-transparent text-secondary-400 border-0 text-base lg:text-md font-semibold;
  }

  .react-datepicker__navigation {
    @apply top-1.5;
  }

  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow,
  .react-datepicker__navigation-icon::before {
    @apply border-secondary;
    border-width: 2px 2px 0 0;
  }

  .react-datepicker__month-read-view,
  .react-datepicker__year-read-view {
    @apply inline-flex justify-center flex-row-reverse gap-2 items-center text-secondary;
  }

  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__year-read-view--down-arrow {
    @apply static shrink-0 mb-1;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header,
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    @apply text-secondary rounded-full;
    &:hover {
      @apply rounded-full;
    }
    &.react-datepicker__day--outside-month {
      @apply opacity-50;
    }
  }
  .react-datepicker__day--today {
    @apply bg-secondary/20;
    &:hover {
      @apply bg-secondary/30;
    }
  }
  .react-datepicker__day-names {
    @apply text-sm border-t border-secondary/10 mt-1 lg:mt-1.5 2xl:mt-2 pt-0.5;
  }
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    @apply size-9 leading-9 text-base;
  }
  .react-datepicker__year-dropdown,
  .react-datepicker__month-dropdown {
    @apply bg-secondary-100 border-secondary-100;
  }
  .react-datepicker__year-option,
  .react-datepicker__month-option {
    @apply py-1 text-small hover:bg-secondary hover:text-accent-white;
    &:hover ::after {
      filter: brightness(0) invert(1);
    }
  }
  .react-datepicker__navigation.react-datepicker__navigation--years-upcoming,
  .react-datepicker__navigation.react-datepicker__navigation--years-previous {
    &::after {
      @apply absolute size-full block;
      content: "";
      background: url(../images/icons/arrow_downward.svg) no-repeat center / 20px auto;
    }

    @apply top-0.5;
  }
  .react-datepicker__navigation.react-datepicker__navigation--years-upcoming {
    @apply rotate-180;
  }
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected,
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range,
  .react-datepicker__day--in-range,
  .react-datepicker__day.react-datepicker__day--in-selecting-range,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    @apply bg-primary text-accent-white font-semibold rounded-full;
    &:hover {
      @apply bg-primary text-accent-white font-semibold rounded-full;
    }
  }
  .react-datepicker__day--disabled {
    @apply opacity-20 cursor-not-allowed;
    &.react-datepicker__day--outside-month {
      @apply opacity-20 cursor-not-allowed;
    }
  }

  &.full-width {
    @apply py-2 md:py-3 lg:py-4 2xl:py-6 3xl:py-7 px-3 md:px-4 lg:px-6 2xl:px-8 3xl:px-10;
    .react-datepicker__day-names {
      @apply mt-3 lg:mt-4 2xl:mt-5 pt-1 lg:pt-2 2xl:pt-3;
    }
  }
  &.astrologer-date-picker {
    @apply border-secondary/10;
    .react-datepicker__month-dropdown-container,
    .react-datepicker__year-dropdown-container {
      @apply border-2 border-secondary/10 px-4 py-2 rounded-lg xl:rounded-xl;
    }
    .react-datepicker__header__dropdown {
      @apply flex justify-center gap-4 xl:gap-6 mt-1 xl:mt-2;
    }
    .react-datepicker__month-read-view,
    .react-datepicker__year-read-view {
      @apply min-w-32 text-center;
    }
    .react-datepicker__navigation--next {
      @apply end-4;
    }
    .react-datepicker__navigation--previous {
      @apply start-4;
    }

    .react-datepicker__navigation--next,
    .react-datepicker__navigation--previous {
      @apply top-2 size-10 rounded-lg xl:rounded-xl border-2 border-solid justify-center items-center border-secondary/10 absolute;
      .react-datepicker__navigation-icon {
        @apply text-[0px] w-2 mt-0.5;
        &::before {
          @apply static;
        }
      }
    }
  }
}
div.react-datepicker-popper {
  .react-datepicker__triangle {
    path {
      @apply fill-secondary/5 stroke-secondary/10;
    }
  }
}
