@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Shades (in RGB) */
  --primary-100: 249 223 226;
  --primary-200: 240 182 190;
  --primary-300: 222 108 123;
  --primary-400: 203 58 83;
  --primary-500: 189 39 43;   /* #BD272B */
  --primary-600: 142 16 36;
  --primary-700: 108 13 27;
  --primary-800: 73 9 18;
  --primary-900: 39 5 10;

  /* Secondary Shades (in RGB) */
  --secondary-100: 233 233 236;
  --secondary-200: 190 190 216;
  --secondary-300: 144 144 188;
  --secondary-400: 98 98 159;
  --secondary-500: 28 32 59;   /* #1C203B */
  --secondary-600: 22 22 47;
  --secondary-700: 17 17 36;
  --secondary-800: 11 11 25;
  --secondary-900: 6 6 13;

  --highlight-500: 244 149 36;   /* #F49524 */
  --muted-500: 194 163 133;   /* #C2A385 */
  --info-500: 173 138 86;   /* #AD8A55 */

  /* Accent Colors */
  --accent-white: 255 255 255;
  --accent-black: 0 0 0;
}


@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer base {
  body {
    @apply bg-accent-white text-secondary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  @apply text-xSmall md:text-base lg:text-base xl:text-md 2xl:text-md 3xl:text-lg 4xl:text-lg; line-height: 1.4;
}

a,button {
  transition: all 0.24s ease-in-out;
}
.common-section {
  @apply py-10 md:py-12 lg:py-14 2xl:py-16 3xl:py-20 
}
.small-section {
  @apply py-7 sm:py-8 md:py-10 lg:py-12 2xl:py-14 3xl:py-15 
}

.img-shadow::after {
  content: "";
  position: absolute;
  height: 180%;
  width: auto;
  aspect-ratio: 1;
  filter: blur(300px);
  @apply bg-highlight rounded-full opacity-60;
}
